.wrapper {
  display: flex;
  align-items: center;
  padding: 9px 16px;
  cursor: pointer;
  &:hover{
    background-color: rgba(22, 24, 35, 0.03);
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 88px;
    margin-right: 12px;
    object-fit: cover;
  }
  .info {
    flex: 1;
    .username {
      font-size: 16px;
      line-height: 22px;
      font-weight: 600;
      span {
          text-overflow: ellipsis;
        margin-right: 4px;
      }
      .check {
        color: rgb(32, 213, 236);
        font-size: 14px;
      }
    }
    .name {
      font-size: 14px;
      line-height: 20px;
      color: rgba(22, 24, 35, 0.5);
      text-overflow: ellipsis;
    }
  }
}
